{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background-color: black;
    }
    
</style>
<div class="container mt-5">
    <h2 style="color: white;">Confirm Deletion</h2>
    <p style="color: white;">Are you sure you want to delete "{{ task.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'task_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
